# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/
*.ipynb_autosave

# OS files
.DS_Store
Thumbs.db

# Editors / IDE
.vscode/
.idea/

# Secrets / local config (not now)
.env
*.env

# Build / temp
*.log
